@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    line-height: 180%;
    color: #666;
    text-align: center;
}

section{
    overflow: hidden;
    padding: 40px 70px;
}

.webp .parallax1{
    background: url(../img/first.webp);
    min-height: 100vh;
}

.webp .parallax2{
    background: url(../img/second.webp);
    min-height: 60vh;
}

.webp .parallax3{
    background: url(../img/third.webp);
    min-height: 40vh;
}

.webp .parallax4{
    background: url(../img/fourth.webp);
    min-height: 100vh;
}

.no-webp .parallax1{
    background: url(../img/first.jpg);
    min-height: 100vh;
}

.no-webp .parallax2{
    background: url(../img/second.jpg);
    min-height: 60vh;
}

.no-webp .parallax3{
    background: url(../img/third.jpg);
    min-height: 40vh;
}

.no-webp .parallax4{
    background: url(../img/fourth.jpg);
    min-height: 100vh;
}

.parallax1, .parallax2, .parallax3, .parallax4{
    position: relative;
    opacity: 0.90;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.heading{
    position: absolute;
    color: #FFF;
    font-size: 550%;
    font-weight: bolder;
    top: 45%;
    width: 100%;
    letter-spacing: 10px;
    text-shadow: 0 0 10px #000;
}

.heading-lead{
    position: absolute;
    color: #FFF;
    font-size: 170%;
    font-weight: 80;
    top: 51%;
    width: 100%;
    text-shadow: 0 0 10px #000;
}


.heading-sm{
    position: absolute;
    color: #FFF;
    font-size: 300%;
    font-weight: bolder;
    top: 45%;
    width: 100%;
    letter-spacing: 6px;
    text-shadow: 0 0 10px #000;
}

.two-col{
    float:left;
    width: 50%;
    padding: 1% 4%;
    text-align: left;
}

.dark{
    overflow: hidden;
    padding: 50px 80px;
    background-color: #323232;
    color: #f2f2f2;
}

.fade{
    opacity: 0;
    transition: all ease-in-out 1300ms;
    -webkit-transition: ease-in-out 1300ms;
    -moz-transition: all ease-in-out 1300ms;
    -o-transition: all ease-in-out 1300ms;
    
}

.fadex2{
    opacity: 0;
    transition: all ease-in-out 500ms;
    -webkit-transition: ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    
}

.fadex4{
    opacity: 0;
    transition: all ease-in-out 1700ms;
    -webkit-transition: ease-in-out 1700ms;
    -moz-transition: all ease-in-out 1700ms;
    -o-transition: all ease-in-out 1700ms;
}

.animation-element.slide-left {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-right {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
    -moz-transform: translate3d(100px, 0px, 0px);
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-left.in-view, .animation-element.slide-right.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.in-view{
    opacity: 1;
}

.curtain-1{
    position: fixed;
    height: 100%;
    width: 25%;
    background-color: #323232;
    z-index: 999;
    opacity: 1;
}

.curtain-2{
    position: fixed;
    left: 25%;
    height: 100%;
    width: 25%;
    background-color: #323232;
    z-index: 999;
    opacity: 1;
}

.curtain-3{
    position: fixed;
    left: 50%;
    height: 100%;
    width: 25%;
    background-color: #323232;
    z-index: 999;
    opacity: 1;
}
.curtain-4{
    position: fixed;
    left: 75%;
    height: 100%;
    width: 25%;
    background-color: #323232;
    z-index: 999;
    opacity: 1;
}

.slide-bottom{
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all ease-in 1200ms;
    -webkit-transition: all ease-in 1200ms;
    -moz-transition: all ease-in 1200ms;
    -o-transition: all ease-in 1200ms;
    opacity: 0.9;
}
.slide-top{
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    transition: all ease-in 1200ms;
    -webkit-transition: all ease-in 1200ms;
    -moz-transition: all ease-in 1200ms;
    -o-transition: all ease-in 1200ms;
    opacity: 0.9;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #eb7a55;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }

@media (max-width: 768px){
    .heading{
        font-size: 250%;
    }

    .heading-lead{
        font-size: 100%;
        top: 49%;
    }

    .heading-sm{
        font-size: 170%;
    }

    .two-col{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    section{
        overflow: hidden;
        padding: 20px 35px;
    }

    .dark{
        overflow: hidden;
        padding: 25px 30px;
        background-color: #323232;
        color: #f2f2f2;
    }
    
    .webp .parallax1{
        background: url(../img/first.min.webp);
        min-height: 100vh;
    }
    
    .webp .parallax2{
        background: url(../img/second.min.webp);
        min-height: 60vh;
    }
    
    .webp .parallax3{
        background: url(../img/third.min.webp);
        min-height: 40vh;
    }
    
    .webp .parallax4{
        background: url(../img/fourth.min.webp);
        min-height: 100vh;
    }
    
    .no-webp .parallax1{
        background: url(../img/first.min.jpg);
        min-height: 100vh;
    }
    
    .no-webp .parallax2{
        background: url(../img/second.min.jpg);
        min-height: 60vh;
    }
    
    .no-webp .parallax3{
        background: url(../img/third.min.jpg);
        min-height: 40vh;
    }
    
    .no-webp .parallax4{
        background: url(../img/fourth.min.jpg);
        min-height: 100vh;
    }
}
